{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Earn Money With Me - Ahmad</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Earn, Earn in pakistan, easy earn, network markting">
	<meta name="description" content="Fill the form to join us and earn Money.">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/templatemo-gray.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" style=" width: 100%; height: 100vh; background-image: url({% static 'images/tm-bg-slide-1.jpg' %})">

    <a href="/"><img src="{% static 'images/dp.jpg' %}" width="200px" alt="Admin (Ahmad)"></a>
    <h1 style="text-align:center; color: aliceblue;">Thank you for joining us!</h1>
    <p style="text-align:center; color: antiquewhite;">For more websites like this.  Contact <strong><a href="https://wa.me/+923054548830" style="color: antiquewhite; text-decoration: underline;">NKCoder09</a></strong>.</p>
    
    <style>
    img {
      margin: 0 auto;
      display: block;
      margin-top: 20%;
    }
    </style>
    


<!-- javascript js -->	
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>	
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>